@import url(https://fonts.googleapis.com/css?family=Alegreya);
/* Space out content a bit */
body {
  padding-top: 20px;
  background: #b1f6cb;  
  background-image: url("../img/dark_embroidery.png");
  margin-bottom: 120px;
  
}

.header {
    display: inline;
}
.header .nav {
    display: inline-block;
    float: left;
}














.text-cstm {
    color: #999;
    font-family: 'Alegreya', serif;
}

